# dependencies
/node_modules

# build
/dist

# env (MAXFIY — hech qachon commit qilinmaydi)
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.idea
*.tsbuildinfo
